<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127177712138-75aujaanmporscvbohupt8o4qpocusl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127177712138-75aujaanmporscvbohupt8o4qpocusl6</string>
	<key>API_KEY</key>
	<string>AIzaSyBuoDhZKpHERtKhnZRSs7fHpm87q7UdPOk</string>
	<key>GCM_SENDER_ID</key>
	<string>127177712138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.happynemo</string>
	<key>PROJECT_ID</key>
	<string>apidemo-9b2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>apidemo-9b2fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127177712138:ios:a81ef1379354943902b5f3</string>
	<key>DATABASE_URL</key>
	<string>https://apidemo-9b2fc.firebaseio.com</string>
</dict>
</plist>